.root{
    -fx-background-color: #A8E6CF; /* verde claro */
 
}
#lblTitulo{
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}
#imgMapa{
    -fx-alignment: left;
}
#lblOrigen{
    
}
